<%- include('../user/header') %>

<div class="col-md-8 col-sm-12 content-height shadow-lg rounded-3">
    <div class="d-flex justify-content-end mb-2 mt-2">
        <input type="text" id="searchInput" class="form-control w-25" placeholder="Search songs..." aria-label="Search songs">
    </div>
    <div class="table-container">
        <table class="table table-hover table-sm" id="songsTable">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Title</th>
                    <th>Album</th>
                    <th class="text-end">Duration</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% if (songs.length === 0) { %>
                    <tr class="align-middle">
                        <td colspan="5" class="text-center">No songs found</td>
                    </tr> 
                <% } else { %>
                    <% songs.forEach((song, index) => { %>
                        <tr class="align-middle">
                            <td>
                                <%= index + 1 %>
                            </td>
                            <td>
                                <button 
                                    class="play-button"
                                    data-song-id="<%= song.song_id %>" 
                                    data-file-url="/<%= song.file_url %>"
                                    data-title="<%= song.title %>" 
                                    data-artist="<%= song.artist %>"
                                    data-playlistId="<%= typeof playlistId !== 'undefined' ? playlistId : null %>"    
                                >
                                    <i class="fa-solid fa-play"></i>
                                </button>
                            </td>
                            <td>
                                <a href="/songs/<%= song.song_id %>" class="text-decoration-none">
                                    <strong>
                                        <%= song.title %>
                                    </strong><br>
                                    <small>
                                        <%= song.artist %>
                                    </small>
                                </a>
                            </td>
                            <td>
                                <%= song.album %>
                            </td>
                            <td class="text-end">
                                <%= song.duration %>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('../user/footer') %>
<script src="/js/checkConnection.js"></script>
<script src="/js/songPlayerHandler.js" defer></script>